<div class="row">
  <div class="col-xs-12 col-sm-6 offset-sm-3">
    <div class="post-item-form">
      <h3>Add a post</h3>
      <% collection = [ "Sports", "News", "Music" ]%>
      <%= simple_form_for(@post) do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%#= f.input :category_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
        <%#= f.input :category_list, as: :check_boxes, collection: collection %>
        <%#= f.select :category_list, collection: collection, class: 'select2', multiple: 'multiple' %>
        <%= select_tag "post[category_list][]", options_from_collection_for_select(
                    ActsAsTaggableOn::Tag.all.order("LOWER(name) ASC"),
                    :name, :name),
                    class: 'select2', multiple: 'multiple' %>
        <%= f.submit "Confirm", class: "btn btn-primary" %>
        <%#= button_tag :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>