<div class="row">
  <div class="col-xs-12 col-sm-6 offset-sm-3">
    <div class="post-item-form">
      <h3>Add a post</h3>
      <% collection = [ "Sports", "News", "Music" ]%>
      <%= simple_form_for(@post) do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%#= f.input :category_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
        <%#= f.input :category_list, as: :check_boxes, collection: collection %>
        <%#= f.select :category_list, collection: collection, class: 'select2', multiple: 'multiple' %>
        <%= select_tag "post[category_list][]", options_from_collection_for_select(
                    ActsAsTaggableOn::Tag.all.order("LOWER(name) ASC"),
                    :name, :name),
                    class: 'select2', multiple: 'multiple' %>
        <%= f.submit "Confirm", class: "btn btn-primary" %>
        <%#= button_tag :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
<!-- <div class="post-item-form">
  <h3>Add a post</h3>
  <form class="simple_form new_post" id="new_post" novalidate="novalidate" action="/posts" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="wIhJyKr0qr0lB7z8B3Wo3Z2GRSgce5SoRzUmQrA1M+MtKHlCCSdqEfhD6d0xx0upKyE/iKzLpjBDD3Ww3SvG0A==">
    <div class="form-group string required post_title"><label class="string required" for="post_title">Title <abbr title="required">*</abbr></label><input class="form-control string required" type="text" name="post[title]" id="post_title"></div>
    <div class="form-group text required post_content"><label class="text required" for="post_content">Content <abbr title="required">*</abbr></label>
      <textarea class="form-control text required" name="post[content]" id="post_content"></textarea>
    </div>
    <fieldset class="form-group check_boxes optional post_category_list"><legend class="col-form-label pt-0">Category list</legend><input type="hidden" name="post[category_list][]" value="">
      <div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="Sports" name="post[category_list][]" id="post_category_list_sports"><label class="form-check-label collection_check_boxes" for="post_category_list_sports">Sports</label></div>
      <div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="News" name="post[category_list][]" id="post_category_list_news"><label class="form-check-label collection_check_boxes" for="post_category_list_news">News</label></div>
      <div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="Music" name="post[category_list][]" id="post_category_list_music"><label class="form-check-label collection_check_boxes" for="post_category_list_music">Music</label></div>
    </fieldset>
    <input type="submit" name="commit" value="Confirm" class="btn btn-primary" data-disable-with="Confirm">
  </form>
</div>
<div class="post-item-form">
  <h3>Add a post</h3>
  <form class="simple_form new_post" id="new_post" novalidate="novalidate" action="/posts" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="ssvoNAL8XkhdKED90nwxaE5QTFWy4Ar8m/U9e3Nt1Fdfa9i+oS+e5IBsFdzkztIc+Pc29QJQOGSfz26JHnMhZA==">
    <div class="form-group string required post_title"><label class="string required" for="post_title">Title <abbr title="required">*</abbr></label><input class="form-control string required" type="text" name="post[title]" id="post_title"></div>
    <div class="form-group text required post_content"><label class="text required" for="post_content">Content <abbr title="required">*</abbr></label>
      <textarea class="form-control text required" name="post[content]" id="post_content"></textarea>
    </div>
    <select name="[]" id="_" class="select2 select2-hidden-accessible" multiple="" data-select2-id="_" tabindex="-1" aria-hidden="true"><option value="Entertainment">Entertainment</option>
      <option value="Music">Music</option>
      <option value="News">News</option>
      <option value="Sports">Sports</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 340px;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-disabled="false">
          <ul class="select2-selection__rendered">
            <li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="searchbox" aria-autocomplete="list" placeholder="Add Category   ▾" style="width: 328px;"></li>
          </ul>
        </span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
    <input type="submit" name="commit" value="Confirm" class="btn btn-primary" data-disable-with="Confirm">
  </form>
</div> -->