- if user_signed_in?
  .row.mt-5
    .col-xs-12.col-sm-6.offset-sm-3
      .post-item-form
        = link_to post_path(@post), class: "post-info-comment-count" do
          %i.fas.fa-arrow-circle-left
        .form-title
          %h3 Edit your post
        - collection = [ "Sports", "News", "Music" ]
        = simple_form_for(@post) do |f|
          = f.input :title
          = f.input :content
          = select_tag "post[category_list][]", options_from_collection_for_select( |
            ActsAsTaggableOn::Tag.all.order("LOWER(name) ASC"),                     |
            :name, :name),                                                          |
            class: 'select2', multiple: 'multiple'                                  |
          = f.submit "Confirm", class: "btn btn-flat-add"
