<div class="container mt-5">
  <%#= form_tag search_post_path, method: :get do %>
    <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a thread"
  %>
    <%#= submit_tag "Search", class: "btn btn-primary" %>
    <%# end %>
    <%# if user_signed_in? %>
    <div class="row">
      <%# end %>
      <div class="col-sm-7">
        <% @posts.each do |post| %>
          <div class="row">
            <div class="col-sm-12">
              <div class="post-item">
                <small>posted by:<%= post.user.email %></small>
                <h3><%= link_to post.title.capitalize, post_path(post) %></h3>
                <% post.category_list.each do |category| %>
                  <%= link_to category, categorized_path(category: category)  %>
                <% end %>
                <p><%= post.content %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= render 'form', post: @post %>
    </div>
  </div>