<div class="container mt-5">
  <%#= form_tag search_post_path, method: :get do %>
    <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a thread"
  %>
    <%#= submit_tag "Search", class: "btn btn-primary" %>
    <%# end %>
    <%# if user_signed_in? %>
    <div class="row">
      <%# end %>
      <div class="col-sm-8">
        <% @posts.each do |post| %>
          <div class="row">
            <div class="col-sm-12">
              <div class="post-item">
                <div>
                  <small class="post-info-email">posted by:<%= post.user.email %></small>
                  <h3><%= link_to post.title.capitalize, post_path(post), class: "post-info-title" %></h3>
                  <% post.category_list.each do |category| %>
                    <%= link_to category, categorized_path(category: category), class: "btn-ghost"  %>
                  <% end %>
                </div>
                <div class="post-item-content">
                  <p><%= post.content %></p>
                </div>
                <div class="post-item-bottom">
                  <span class="post-info-comment-count-index"><i class="far fa-thumbs-up"></i> <%= post.get_upvotes.size %></span>
                  <span class="post-info-comment-count-index"><i class="far fa-thumbs-down"></i> <%= post.get_downvotes.size %></span>
                  <%= link_to post_path(post), class: "post-info-comment-count-index" do %>
                    <i class="far fa-comment-dots"></i> <%= post.comments.count %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%#= render 'form', post: @post %>
      <div class="col-sm-4">
        <div class="side-bar">
          <div class="make-thread">
            <h4>Anything on your mind? </h4>
            <p>
              Make a thread and let's talk about it!
            </p>
            <%= link_to "Make a thread", new_post_path, class: "btn-flat-side-bar" %>
          </div>
          <div class="side-bar-category">
            <h3>Popular Categories:</h3>
            <ul>
              <% ActsAsTaggableOn::Tag.most_used(10).each do |category| %>
                <li>
                  <%= link_to category.name, categorized_path(category: category) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>