<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="post-item">
            <%= link_to posts_path, class: "post-info-comment-count" do %>
              <i class="fas fa-arrow-circle-left"></i>
            <% end %>
            <div>
              <small class="post-info-email">posted by:<%= @post.user.email %></small>
              <h2><%= @post.title.capitalize %></h2>
              <% @post.category_list.each do |category| %>
                <%= link_to category, categorized_path(category: category), class: "btn-ghost"  %>
              <% end %>
            </div>
            <div class="post-item-content-show">
              <p><%= @post.content %></p>
            </div>
            <div class="post-item-bottom-show" data-controller="counter">
              <div>
                <%= link_to vote_post_path(@post, 'upvote'), method: :put, data: { target: "counter.id", action: "click->counter#refresh" }, remote: :true, class: "post-info-comment-count#{(current_user.liked? @post) ? "-selected" : ""}" do %>
                  <i class="far fa-thumbs-up"></i><span data-target="counter.count"><%= @post.get_upvotes.size %></span>
                <% end -%>
                <%= link_to vote_post_path(@post, 'downvote'), method: :put, class: "post-info-comment-count#{(current_user.disliked? @post) ? "-selected" : ""}" do %>
                  <i class="far fa-thumbs-down"></i> <span><%= @post.get_downvotes.size %></span>
                <% end -%>
              </div>
              <div>
                <% if policy(@post).update? %>
                  <%= link_to edit_post_path(@post), class: "post-info-comment-count" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                <% end %>
                <% if policy(@post).destroy? %>
                  <%= link_to post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: "post-info-comment-count" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="comment-item-list">
            <h2>Comments</h2>
            <% if !user_signed_in? %>
              <p>Want to comment? Log in <%= link_to "here", new_user_session_path, class: "button-link"%></p>
            <% end %>
            <% if user_signed_in? %>
              <div class="comment-item-form">
                <%= simple_form_for([ @post, @comment ], remote: true)do |f| %>
                  <%= f.input :content, label: false, placeholder: "What's your thoughts?" %>
                  <div class="post-item-bottom">
                    <%= f.submit  "Comment", class: "btn btn-flat" %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% @post.comments.each do |comment| %>
              <div class="comment-item">
                <hr>
                <div>
                  <small class="post-info-email">commented by:<%= comment.post.user.email %></small>
                </div>
                <div class="post-item-content">
                  <p><%= comment.content %></p>
                </div>
                <div class="post-item-bottom">
                  <% if policy(comment).update? %>
                    <%= link_to edit_post_comment_path(@post, comment), class: "post-info-comment-count" do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                  <% end %>
                  <% if policy(comment).destroy? %>
                    <%= link_to comment, method: :delete, data: { confirm: "Are you sure?"}, remote: true, class: "post-info-comment-count" do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="post-item">
            <h2>Related post:</h2>
          </div>
        </div>
      </div>
      <% @related_posts.each do |post| %>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="post-item">
              <div>
                <small class="post-info-email">posted by:<%= post.user.email %></small>
                <h3><%= link_to post.title.capitalize, post_path(post), class: "post-info-title" %></h3>
                <% post.category_list.each do |category| %>
                  <%= link_to category, categorized_path(category: category), class: "btn-ghost"  %>
                <% end %>
              </div>
              <div class="post-item-content">
                <p><%= post.content %></p>
              </div>
              <div class="post-item-bottom">
                <%= link_to post_path(post), class: "post-info-comment-count" do %>
                  <i class="far fa-comment-dots"></i> <%= post.comments.count %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>