<h1>Show page</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <div class="post-item">
        <h2><%= @post.title %></h2>
        <small>posted by:<%= @post.user.email %></small>
        <p><%= @post.content %></p>
        <% if policy(@post).update? %>
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
        <% end %>
        <% if policy(@post).destroy? %>
          <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary" %>
        <% end %>
      </div>
      <%= link_to "Back", posts_path, class: "btn btn-primary" %>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 offset-sm-3">
        <div class="post-item-form">
          <%= simple_form_for [ @post, @comment ] do |f| %>
            <%= f.input :content %>
            <%= f.submit  "Add Comment", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <div class="comment-item-list">
        <h2>Comments</h2>
        <% @post.comments.each do |comment| %>
          <div class="comment-item">
            <hr>
            <p><%= comment.content %></p>
            <small>posted by:<%= comment.post.user.email %></small>
            <%= link_to "Edit", edit_post_comment_path(comment) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>